<section class="media-spotlight">
<h2>
  Media Spotlight:
  <%= link_to @spotlight.title, work_path(@spotlight) %> by <%= @spotlight.creator %>
</h2>
<p><%= pluralize(@spotlight.votes.count, "vote") %> - <%= @spotlight.description %></p>
</section>
