<h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th width="60%">Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users_table_rows", collection: @users, as: :user %>
  </tbody>
</table>

<%= link_to "View Top Media", root_path, class: "btn btn-secondary" %>

