/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rajdhani:wght@300;400&display=swap');

/* GENERAL */

body, h1, h2, h3, h4, h5 {
  font-family: 'Rajdhani', sans-serif;
}

main {
  padding: 2rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
}

a, h2, h3 {
  color: #00a6fb;
}

a:hover {
  color: #0582ca;
  text-decoration: none;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  font-weight: 400;
}

small {
  font-size: 80%;
  font-weight: 400;
}

/* APP HEADER */

/* Pure CSS Gradient Background Animation by Manuel Pinto: https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app-header__header {
  max-width: 100%;
  background-color: #353535;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.app-header__header h1 a {
  background-image: url(asset_path("steve-johnson-wpw8sHoBtSY-unsplash.png")); 
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500px;
  color: transparent;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white .25px solid;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke: .10px white;
}

.app-header__header h1 small {
  color: white;
  font-weight: 300;
  font-style: italic;
}

/* APP HEADER NAV */

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.app-header__nav_item {
  margin-top: 1rem;
  border-radius: .25rem;
}

  .app-header__nav_item:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color .15s ease-in-out;
  }

.app-header__nav_item .nav-link {
  color: white;
}

/* BUTTONS */

.btn:hover {
  background-color: #0582ca;
  color: white;
}

.btn-primary {
  background-color: #00a6fb;
  color: white;
  border-color: #00a6fb;
}

/* FLASH MESSAGES */

.alert__container {
  margin: 2rem 0 1rem 0;
}
