/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rajdhani:wght@300;400&display=swap');

/* GENERAL */

*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5 {
  font-family: 'Rajdhani', sans-serif;
}

body {
  display: block;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

div, header, main, nav, section {
  display: block;
}

main {
  padding: 2rem;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: inherit;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

a, h2, h3 {
  color: #00a6fb;
}

a {
  text-decoration: none;
  background-color: transparent;
}

  a:hover {
    color: #0582ca;
    text-decoration: none;
  }

p {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  font-weight: 400;
}

small {
  font-size: 80%;
  font-weight: 400;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* APP HEADER */

/* Pure CSS Gradient Background Animation by Manuel Pinto: https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.app-header__header {
  max-width: 100%;
  background-color: #353535;
  margin-bottom: 0.5rem;
  padding: 2rem 1rem 0.5rem 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.app-header__header h1 {
  text-align: center;
  margin: 25px auto 40px auto;
}

.app-header__header h1 a {
  background-image: url(asset_path("steve-johnson-wpw8sHoBtSY-unsplash.png")); 
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 500px;
  color: transparent;
  padding-right: 25px;
  margin-right: 15px;
  border-right: white .25px solid;
  font-family: 'Bungee', cursive;
  -webkit-text-stroke: .10px white;
}

.app-header__header h1 small {
  color: white;
  font-weight: 300;
  font-style: italic;
}

/* APP HEADER NAV */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.app-header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-header__site-nav-container .app-header__nav_item {
  margin-right: 2rem;
}

.app-header__user-nav-container .nav-item {
  margin-left: 2rem;
}

.app-header__nav_item {
  margin-top: 1rem;
}

.app-header__nav_item .nav-link {
  color: white;
}

  .app-header__nav_item .nav-link:hover {
    color: #00a6fb;
  }

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

/* BUTTONS */

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

  .btn:hover {
    background-color: #0582ca;
    color: white;
  }

.btn-primary {
  background-color: #00a6fb;
  color: white;
  border-color: #00a6fb;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

/* FLASH MESSAGES */

.alert__container {
  margin: 2rem 0 1rem 0;
}

.alert {
  margin: 0;
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
